.inputform {
  position: relative;
  height: 50px;
  overflow: hidden;
  border: 1px solid #a7a7a7;
  border-radius: 8px;
  margin: 0px;
}

.inputform input {
  width: 100%;
  height: 100%;
  color: #585858;
  padding-top: 10px;
  border: none;
  background-color: #ffffff;
  font-size: 15px;
  font-family: "Nunito";
  text-align: right;
}

.content-number {
  left: 30px;
  bottom: 5px;
  position: absolute;
}

.inputform label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #585858;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  transition: transform 0.3s ease;
}

.inputform input:focus {
  outline: none;
}

.inputform input:focus + .label-name .content-name,
.inputform input:not(:placeholder-shown) + .label-name .content-name {
    transform: translateY(-60%) translateX(-10%);
    font-size: 15px;
    color: #0c3216;
    position: absolute;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.inputform input:focus + .label-name::after,
.inputform input:not(:placeholder-shown) + .label-name::after {
    transform: translateX(0);
}
/* 
.inputform input:focus + label::after,
.inputform input:valid + label::after {
  transform: translateX(0);
} */
