.bus-detail-page { 
    display: flex;
    flex-direction: column;
    margin-right: 220px; /* Adjust based on Sidebar width */
    padding: 20px;
  }
  
  .bus-detail-main {
    display: flex;    
    flex-direction: column;
    margin: 0px;     
  }
  
  .detail-content{
    display: flex; 
    direction: rtl;   
    flex-direction: column;
    height: 100%;  
    margin-bottom: 10px;  

  }
.bus-details-list {
   direction: rtl; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bus-details-list li {
    margin-bottom: 12px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #2b4e3b;
}

.bus-details-list li:last-child {
    border-bottom: none;
}

.bus-details-list strong {
    color: #384d44;
    font-weight: bold;
}

  
.edit-bus-button {
  background-color: #29684b;
  color: white;
  width: 60px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 20px;
}

.edit-bus-button:hover {
  background-color: #1d4b3a; /* Change this color to whatever you prefer for the hover effect */
}



