.Buspage { 
    display: flex;
    flex-direction: column;
    overflow-x: hidden  ;
    margin-right: 220px; /* Adjust based on Sidebar width */
    padding: 20px;
  }
  
  .busmain {
    display: flex; 
    direction: rtl;          
    justify-content: center; 
    flex-direction: column;
    height: 100%;          
  }

  .goadd-bus-button {
    background-color: #395348;
    color: white;
    width: 150px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  
  
  
    
  
