.container-item {
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    width: auto;
    flex-grow: 1;
    margin: 10px;
  }
  
  .bus-item-icon {
    margin-left: 10px;
  }
  
  .item-details {
    display: relative;
    margin: 0 10px;
    right: 0;
    direction: rtl; 
  }
  
  .item-details p {
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
  }
  
  /* .item-details p:first-of-type {
    font-weight: bold;
  } */