/* .GreenContainer {
  position: relative;
  display: block;
  overflow: hidden;
  height: 85vh; 
  width: 35%;
  margin: 50px auto; 
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  text-align: right; 
} */
/* 
.green-header {
  height: 100px;
  background-color: #01391F;
  clip-path: path('M0,0 H1 V0.738 s-0.082,-0.022,-0.166,0 s-0.089,0.107,-0.17,0.128 s-0.082,-0.052,-0.159,-0.032 s-0.064,0.071,-0.147,0.093 s-0.089,-0.023,-0.179,0 S0,1,0,1');
  z-index: 1;
} */
/* 
.GreenContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(159, 205, 183, 0.5); 
  z-index: -1; 
  border-radius: 15px; 
} */


.GreenContainer {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100vh; /* Use viewport height to ensure full screen height */
  margin: 0;
  width: 35%;
  margin-left: 100px;
  text-align: right; /* Ensure text is aligned to the right */
}

.GreenContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(159, 205, 183, 0.5); /* Semi-transparent background */
  z-index: -1; /* Ensures background is behind the content */
}
form {
  display: table ;
  margin: 0; /* Remove any default margins */
}

label {
  /* Add styles if needed */
}

h2 {
  font-size: 20px;
  color: #000000;
}

h1 {
  font-size: 20px;
  color: #01391F;
}

/* button {
  font-family: 'Zain';
  width: 100%;
  margin-top: 20px;
  background-color: #053A21;
  color: aliceblue;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  
} */

.content{
  padding:20px;
  padding-left: 10%;
  padding-right: 10%;
  /* border-radius: 50px;
  z-index: 1; */
}
form {
  display: grid;
  right:0; 
  
}


label{
  
}

h2{
  font-size: 20px;
  color: #000000;;
}
h1{
  font-size: 30px;
  color: #01391F;
}

/* .GreenContainer button{
  right:0;
  font-family: 'zain';
  width: 100%;
  margin-top: 20px;
  background-color: #053A21;
  color: aliceblue;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
} */

.hLine{
  height: 2px;
  background-color: #053A21;
}