.GreenContainer {
  position: relative;
  display: block;
  overflow: hidden;
  height: 85vh; /* Use viewport height to ensure full screen height */
  width: 35%;
  margin: 50px auto; /* Center horizontally */
  border-radius: 15px; /* Rounded edges */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow for floating effect */
  text-align: right; /* Ensure text is aligned to the right */
}

.GreenContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(159, 205, 183, 0.5); /* Semi-transparent background */
  z-index: -1; /* Ensures background is behind the content */
  border-radius: 15px; /* Match the rounded edges */
}

form {
  display: table ;
  margin: 0; /* Remove any default margins */
}

label {
  /* Add styles if needed */
}

h2 {
  font-size: 20px;
  color: #000000;
}

h1 {
  font-size: 20px;
  color: #01391F;
}

/* button {
  font-family: 'Zain';
  width: 100%;
  margin-top: 20px;
  background-color: #053A21;
  color: aliceblue;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  
} */

.content{
  padding:20px;
  padding-left: 10%;
  padding-right: 10%;
  
}
form {
  display: grid;
  right:0; 
  
}


label{
  
}

h2{
  font-size: 20px;
  color: #000000;;
}
h1{
  font-size: 30px;
  color: #01391F;
}

/* .GreenContainer button{
  right:0;
  font-family: 'zain';
  width: 100%;
  margin-top: 20px;
  background-color: #053A21;
  color: aliceblue;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
} */

.hLine{
  height: 2px;
  background-color: #053A21;
}