.admin-dashboard {
    direction: rtl;
    display: flex;
    flex-direction: column;
    margin-right: 220px; /* Adjust based on Sidebar width */
    padding: 20px;
  }
  
  .bus-list-container {
    background-color: #e7f0ec;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .add-bus-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .bus-list {
    display: flex;
    flex-direction: column;
  }
  
  .bus-list-item {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    height: 50px;
  }
  
  .bus-item-icon {
    margin-left: 10px;
  }
  
  .bus-details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  
  .bus-details p {
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
  }
  
  .bus-details p:first-of-type {
    font-weight: bold;
  }
  
  .delete-bus-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  